doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Member Page
  link(rel='stylesheet' href='/css/style.css')
main
  h1#membertitle Welcome! #{memberName}!
  div
    // a#link(href='/') Back to Home
    a#link(href='/logout') Logout