apiVersion: v1
kind: Secret
metadata:
  name: env-secrets
type: Opaque
data:
  MYSQL_HOST: <db service name>
  MYSQL_DATABASE: 
  MYSQL_USER: 
  MYSQL_PASSWORD: 
  MYSQL_ROOT_PASSWORD: 
  SESSION_SECRET: 